<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Movieflix website to watch movies and series online">
    <meta name="keywords" content="Movieflix, online movies, online series">
    <meta name="author" content="Koushik Chaganti">
    <title>Home - Movieflix</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header></header>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="brandcolor">MovieFlix</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="home.html">Home</a></li>
                <li><a href="movies.html">Movies</a></li>
                <li><a href="series.html">Series</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search By Titles/Genres">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Koushik Name
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Your Account</a></li>
                        <li><a href="#">Sign out</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container top">
    <div class="row">
        <h2>Movies</h2>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTk4ODQzNDY3Ml5BMl5BanBnXkFtZTcwODA0NTM4Nw@@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BOTAzODEzNDAzMl5BMl5BanBnXkFtZTgwMDU1MTgzNzE@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTc2MTQ3MDA1Nl5BMl5BanBnXkFtZTgwODA3OTI4NjE@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTAzZmJiOGQtOWM3NS00MDEwLWJiNGEtN2QzMDM3NDJjMWQwXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTUyMTE0ODcxNF5BMl5BanBnXkFtZTgwODE4NDQzNTE@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMjM2Nzg4MzkwOF5BMl5BanBnXkFtZTgwNzA0OTE3NjE@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMjEyMjcyNDI4MF5BMl5BanBnXkFtZTcwMDA5Mzg3OA@@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMjE0NTA2MTEwOV5BMl5BanBnXkFtZTgwNzg4NzU2NjE@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
    </div>


    <div class="row">
        <h2>Series</h2>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTAwMjU5OTgxNjZeQTJeQWpwZ15BbWU4MDUxNDYxODEx._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BNTY4MzA4Mzc5Nl5BMl5BanBnXkFtZTgwNDIzMzk5NjE@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTkxMTA5OTAzMl5BMl5BanBnXkFtZTgwNjA5MDc3NjE@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMzMwMTM4MDU2N15BMl5BanBnXkFtZTgwMzQ0MjMxMDE@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMjE4MjA1NTAyMV5BMl5BanBnXkFtZTcwNzM1NDQyMQ@@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMjIwNTYzMzE1M15BMl5BanBnXkFtZTcwOTE5Mzg3OA@@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTkxNDYxOTA4M15BMl5BanBnXkFtZTgwNTk0NzQxMTE@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTAyNDU0NjY4NTheQTJeQWpwZ15BbWU2MDk4MTY2Nw@@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTI1Nzk1MzQwMV5BMl5BanBnXkFtZTYwODkxOTA5._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a href="titledetails.html" title="Movie Details">
                    <figure>
                        <img src="http://ia.media-imdb.com/images/M/MV5BNTEyMjAwMDU1OV5BMl5BanBnXkFtZTcwNDQyNTkxMw@@._V1_SX300.jpg"
                             alt="banner_img" class="moviebanner">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid"></div>
<footer class="panel-footer footer">
    <div class="container">
        <p class="text-center">&copy;&nbsp;All Copyights Reserved&nbsp;2016</p>
    </div>
</footer>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>